:host {
    /* background-color: MidnightBlue; */
  display: grid;
  grid-template: 
    "margin-top"      3fr
    "title"           auto
    "call_to_action"  auto
    "social"          auto
    "margin-bottom"   3fr;
  margin: auto;
  height: 100dvh;
  width: min(90%, 50rem);
}

.landing__title {
  font-size: clamp(5pt, 12vw - .1rem, 79pt);
  margin: 0;
  grid-area: title;
}

.landing__call-to-action {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  font-size: clamp(12pt, 4vw - 1rem, 14pt);
  line-height: 1.5;
  min-inline-size: 3ch;
  overflow-wrap: break-word;

  margin: 0;
  grid-area: call_to_action;

  p { flex-basis: 100%; }

  a {
    display: flex;
    text-decoration: none;
    padding: 1em 2em;
    border-radius: 1em;

    font-size: 140%;
    font-weight: bold;
    /* color: inherit; */
  }
}

.landing__call-to-action_button {
  background-color: #FFDB2020;
  color: gold; 
}

.landing__call-to-action_button-muted {
  background-color: #ffffff15;
  color: inherit;
}

.landing__social {
  color: white;
  font-size: 5pt;
  margin-top: 2rem;
  /* margin: 0; */
  grid-area: social;
  
  ul {
    display: flex;
    gap: 1rem;

    padding: 0;

    list-style-type: none;
  }

  ul a {
    color: inherit;
    text-decoration: none;
    font-size: 26pt;
  }
}